.option {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f8f9fa;
  }

  &.selected {
    background-color: #f8f9fa;
    color: #2d3436;
    font-weight: 500;
  }

  .optionContent {
    display: flex;
    gap: 10px;
  }
}
